#img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 16px 0;
  height: 110px;
}

.tool-icon {
  width: auto;
  height: 100%;
  margin: 0 32px;
}

@media only screen and (max-width: 690px) {
  #img-wrapper {
    width: 90%;
  }
}