#footer {
  display: flex;
  width: 100%;
  background: #4B4B4B;
  height: 25vh;
  margin-top: 64px;
  overflow-x: hidden;
  padding: 16px;
  box-sizing: border-box;
}

.footer-text-section {
  margin: 1.5% 2.5%;
}

.footer-header {
  font-weight: bold;
  font-size: 1.08em;
  color: white;
}

.footer-link {
  margin: 2px 0;
  color: #FFF;
}

@media only screen and (max-width: 690px) {
  .footer-text-section {
    margin: 3%;
  }
}