#navigation-wrapper {
  display: flex;
  width: 100vw;
  height: 60vh;
  box-sizing: border-box;
  margin: 0;
  padding: 8px;
  background: #F7F7F7;
}

.nav-link {
  text-decoration: none;
  color: #4B4B4B;
  margin: 0 8px;
}

.selected {
  border-bottom: 2px solid #EBABE9;
  font-weight: bold;
}
